.simplon {
 	width: 250px ;
 	height: 250px ;
    float: left ;
 }

.ecole{
	width: 250px ;
	height: 150px ;
	float: right ;
	padding-top: 60px ;
}
.text{ 
	color: red ;
	text-align: center ;
	padding-top: 90px ;
}
.text2{
	color: red ;
	padding-top: 150px ;
}
.text3{
	color: red ;
	padding-top: 50px ;
}
.photo{
	width: 120px ;
	height:120px ;
	border-radius: 150px ;
	overflow: hidden;

}
.photo2{
	width: 120px ;
	height:120px ;
	border-radius: 150px ;
	overflow: hidden;
	padding-top: 20px
}